version: '3.0'
services:
    api:
        container_name: api
        build: .
        ports:
            - "3000:3000"
        environment:
            - DATABASE_URL="postgresql://postgres:api@localhost:5432/db?schema=public"
        depends_on:
            - db
        networks:
            - network
    db:
        container_name: db
        image: postgres:latest
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=api
            - POSTGRES_DB=db
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - network
networks:
    network:
        driver: bridge

volumes:
    db_data:
